Repository cosmos/ibc-apps, pull requests merged in 2023-11, with the labels that each got.

#132 chore: export the GetReceiver function
  middleware/packet-forward-middleware/packetforward/ibc_middleware.go
Labels: BACKPORT, packet-forward-middleware

#86 fix!: queries that panic should return `ack-err`
  modules/async-icq/README.md
  modules/async-icq/keeper/cache_ctx.go
  modules/async-icq/keeper/relay.go
  modules/async-icq/testing/demo-simapp/app/export.go
Labels: BACKPORT, async-icq

#140 chore: remove unused Keeper argument
  modules/async-icq/keeper/keeper.go
  modules/async-icq/testing/simapp/app.go
Labels: async-icq
