Repository cosmos/ibc-apps, pull requests merged in 2023-07, with the labels that each got.

#47 docs: create an integration guide for the pfm
  middleware/packet-forward-middleware/docs/integration.md
Labels: documentation, BACKPORT, packet-forward-middleware

#51 docs: fix typo in pfm integration doc
  middleware/packet-forward-middleware/docs/integration.md
Labels: documentation, BACKPORT, packet-forward-middleware

#59 fix: return proper error on ChanCloseInit
  modules/async-icq/ibc_module.go
Labels: BACKPORT, async-icq

#63 fix: mergify backport label
  .github/mergify.yml
Labels: BACKPORT

#67 Use query routes in async_icq
  modules/async-icq/keeper/keeper.go
  modules/async-icq/keeper/relay.go
  modules/async-icq/keeper/relay_test.go
  modules/async-icq/testing/simapp/app.go
Labels: BACKPORT, async-icq
