Repository cosmos/ibc-apps, pull requests merged in 2024-01, with the labels that each got.

#152 core(deps): Upgrade PFM to IBC v8 and SDK v0.50.x
  .github/workflows/packet-forward-middleware.yml
  .gitignore
  go.work.example
  middleware/packet-forward-middleware/Makefile
  middleware/packet-forward-middleware/docs/integration.md
  middleware/packet-forward-middleware/e2e/forward_timeout_test.go
  middleware/packet-forward-middleware/e2e/go.mod
  middleware/packet-forward-middleware/e2e/go.sum
  middleware/packet-forward-middleware/e2e/packet_forward_non_refundable_test.go
  middleware/packet-forward-middleware/e2e/packet_forward_test.go
  middleware/packet-forward-middleware/e2e/setup.go
  middleware/packet-forward-middleware/e2e/upgrade_test.go
  middleware/packet-forward-middleware/go.mod
  middleware/packet-forward-middleware/go.sum
  middleware/packet-forward-middleware/packetforward/client/cli/cli.go
  middleware/packet-forward-middleware/packetforward/ibc_middleware.go
  middleware/packet-forward-middleware/packetforward/keeper/genesis.go
  middleware/packet-forward-middleware/packetforward/keeper/grpc_query.go
  middleware/packet-forward-middleware/packetforward/keeper/keeper.go
  middleware/packet-forward-middleware/packetforward/keeper/migrator.go
  middleware/packet-forward-middleware/packetforward/keeper/msg_server.go
  middleware/packet-forward-middleware/packetforward/keeper/params.go
  middleware/packet-forward-middleware/packetforward/migrations/v2/migrate.go
  middleware/packet-forward-middleware/packetforward/migrations/v2/migrator_test.go
  middleware/packet-forward-middleware/packetforward/module.go
  middleware/packet-forward-middleware/packetforward/module_test.go
  middleware/packet-forward-middleware/packetforward/types/codec.go
  middleware/packet-forward-middleware/packetforward/types/expected_keepers.go
  middleware/packet-forward-middleware/packetforward/types/forward.go
  middleware/packet-forward-middleware/packetforward/types/forward_test.go
  middleware/packet-forward-middleware/packetforward/types/genesis.pb.go
  middleware/packet-forward-middleware/packetforward/types/params.go
  middleware/packet-forward-middleware/packetforward/types/query.pb.go
  middleware/packet-forward-middleware/packetforward/types/tx.pb.go
  middleware/packet-forward-middleware/proto/packetforward/v1/genesis.proto
  middleware/packet-forward-middleware/proto/packetforward/v1/query.proto
  middleware/packet-forward-middleware/proto/packetforward/v1/tx.proto
  middleware/packet-forward-middleware/test/mock/bank_keeper.go
  middleware/packet-forward-middleware/test/mock/channel_keeper.go
  middleware/packet-forward-middleware/test/mock/distribution_keeper.go
  middleware/packet-forward-middleware/test/mock/ibc_module.go
  middleware/packet-forward-middleware/test/mock/ics4_wrapper.go
  middleware/packet-forward-middleware/test/mock/transfer_keeper.go
  middleware/packet-forward-middleware/test/setup.go
  middleware/packet-forward-middleware/testing/simapp/ante_handler.go
  middleware/packet-forward-middleware/testing/simapp/app.go
  middleware/packet-forward-middleware/testing/simapp/encoding.go
  middleware/packet-forward-middleware/testing/simapp/export.go
  middleware/packet-forward-middleware/testing/simapp/params/encoding.go
  middleware/packet-forward-middleware/testing/simapp/simd/commands.go
  middleware/packet-forward-middleware/testing/simapp/simd/main.go
  middleware/packet-forward-middleware/testing/simapp/simd/root.go
  middleware/packet-forward-middleware/testing/simapp/upgrades/upgrades.go
  middleware/packet-forward-middleware/testing/simapp/x/dummyware/ibc_middleware.go
Labels: packet-forward-middleware

#158 Upgrade sequence diagrams from ASCII to Mermaid.
  middleware/packet-forward-middleware/README.md
Labels: documentation, BACKPORT, packet-forward-middleware

#164 fix: add missing proto annotation
  middleware/packet-forward-middleware/packetforward/types/tx.pb.go
  middleware/packet-forward-middleware/proto/packetforward/v1/tx.proto
  modules/async-icq/proto/icq/v1/tx.proto
  modules/async-icq/testing/demo-simapp/proto/interquery/tx.proto
  modules/async-icq/types/tx.pb.go
Labels: packet-forward-middleware, async-icq
