Repository cosmos/ibc-apps, pull requests merged in 2024-08, with the labels that each got.

#165 docs: cleanup wasm_hook.go
  modules/ibc-hooks/wasm_hook.go
Labels: ibc-hooks

#211 chore: fix some function names
  modules/async-icq/testing/simapp/encoding.go
  modules/ibc-hooks/client/cli/query.go
Labels: ibc-hooks, async-icq

#212 docs: update maintained branches table
  .github/mergify.yml
  README.md
Labels: documentation, BACKPORT

#210 refactor: backport changes to remove the ability to take a fee for each forwarded packet
  .github/workflows/async-icq.yml
  .github/workflows/packet-forward-middleware.yml
  Makefile
  middleware/packet-forward-middleware/Dockerfile
  middleware/packet-forward-middleware/Makefile
  middleware/packet-forward-middleware/e2e/forward_timeout_test.go
  middleware/packet-forward-middleware/e2e/go.mod
  middleware/packet-forward-middleware/e2e/go.sum
  middleware/packet-forward-middleware/e2e/upgrade_test.go
  middleware/packet-forward-middleware/go.mod
  middleware/packet-forward-middleware/go.sum
  middleware/packet-forward-middleware/packetforward/client/cli/cli.go
  middleware/packet-forward-middleware/packetforward/keeper/genesis.go
  middleware/packet-forward-middleware/packetforward/keeper/grpc_query.go
  middleware/packet-forward-middleware/packetforward/keeper/keeper.go
  middleware/packet-forward-middleware/packetforward/keeper/migrator.go
  middleware/packet-forward-middleware/packetforward/keeper/msg_server.go
  middleware/packet-forward-middleware/packetforward/keeper/params.go
  middleware/packet-forward-middleware/packetforward/migrations/v2/migrate.go
  middleware/packet-forward-middleware/packetforward/migrations/v2/migrator_test.go
  middleware/packet-forward-middleware/packetforward/module.go
  middleware/packet-forward-middleware/packetforward/module_test.go
  middleware/packet-forward-middleware/packetforward/types/codec.go
  middleware/packet-forward-middleware/packetforward/types/expected_keepers.go
  middleware/packet-forward-middleware/packetforward/types/genesis.go
  middleware/packet-forward-middleware/packetforward/types/genesis.pb.go
  middleware/packet-forward-middleware/packetforward/types/keys.go
  middleware/packet-forward-middleware/packetforward/types/msgs.go
  middleware/packet-forward-middleware/packetforward/types/params.go
  middleware/packet-forward-middleware/packetforward/types/params_legacy.go
  middleware/packet-forward-middleware/packetforward/types/query.pb.go
  middleware/packet-forward-middleware/packetforward/types/query.pb.gw.go
  middleware/packet-forward-middleware/packetforward/types/tx.pb.go
  middleware/packet-forward-middleware/proto/packetforward/v1/genesis.proto
  middleware/packet-forward-middleware/proto/packetforward/v1/query.proto
  middleware/packet-forward-middleware/proto/packetforward/v1/tx.proto
  middleware/packet-forward-middleware/test/mock/bank_keeper.go
  middleware/packet-forward-middleware/test/mock/channel_keeper.go
  middleware/packet-forward-middleware/test/mock/distribution_keeper.go
  middleware/packet-forward-middleware/test/mock/ibc_module.go
  middleware/packet-forward-middleware/test/mock/ics4_wrapper.go
  middleware/packet-forward-middleware/test/mock/transfer_keeper.go
  middleware/packet-forward-middleware/test/setup.go
  middleware/packet-forward-middleware/testing/simapp/app.go
  middleware/packet-forward-middleware/testing/simapp/upgrades/upgrades.go
  modules/async-icq/Dockerfile.icq
  modules/async-icq/Dockerfile.icq-demo
  modules/async-icq/e2e/go.mod
  modules/async-icq/e2e/go.sum
  modules/async-icq/go.mod
  modules/async-icq/go.sum
Labels: packet-forward-middleware, async-icq
